/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */
.wp-block-wccpt-iconblock {
    width: 100%;
    position: relative;

}
.wp-block-wccpt-iconblock .inner-wrap{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
}
.wp-block-wccpt-iconblock.aligncenter {
   text-align: center;
   padding-bottom: 100%;
}
.wp-block-wccpt-iconblock.alignleft,  .wp-block-wccpt-iconblock.alignright{
    display: flex;
    align-items: center;
    padding-bottom: 0;
    justify-content: flex-start;
}
.wp-block-wccpt-iconblock.alignleft .inner-wrap{
  position: relative;
  flex-direction: row;
}
.wp-block-wccpt-iconblock.alignright .inner-wrap{
  position: relative;
  flex-direction: row-reverse;
}
